.currency-source,
.currency-destination {
  width: 60px;
  float: right;
  clear: both;
  padding: 4px;
}

.currency-date {
  width: 120px;
  float: right;
  clear: both;
  padding: 4px;
}

.mb,
.mc,
.conversion-result {
  margin-top: 20px;
  width: 300px;
}

.mc button {
  margin: 4px !important;
  padding: 4px;
}
